.approval-card
{
  max-width: 900px;
  min-width: 400px;
  margin: 0 auto;
  padding: 16px;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.approval-form-title
{
  color: rgb(20, 120, 67);
  padding-bottom: 8px;

}

.approved-icon
{
  color: rgb(20, 120, 67);
  padding-right: 28px;
  padding-top: 4px;
}

.approval-form
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.full-width
{
  grid-column: span 2;
}

.button-row
{
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 4px;
}

/* Mobile Responsive */
@media (max-width: 768px)
{
  .approval-form
  {
    grid-template-columns: 1fr;

  }

  .full-width,
  .button-row
  {
    grid-column: span 1;
  }
}