.data-table
{
  width: 100%;
  // background-color: white;
}

.mat-column-id
{
  width: 32px;
  border-right: 1px solid currentColor;
  // padding-right: 24px;
  text-align: center;
}

.mat-column-title
{
  padding-left: 16px;
  font-weight: 500;
  // text-align: center;
  // font-size: 20px;
}


.mat-column-email,
.mat-column-employeeId,
.mat-column-createdDate,
.mat-column-userRoleCreatedBy
{
  text-align: center;
}

.mat-column-timestamp
{
  width: 250px;
  // text-align: center;
}

.mat-column-entityId
{
  width: 200px;
}




// ------------------------------------------------
//table
.table
{
  width: 100%;
  padding: 4px 0;
  border-radius: 12px;
  // overflow-x: scroll;
  // overflow-y: scroll;
  // background-color: white;
}

.table-container
{
  // max-width: 1200px;
  width: 100%;
  overflow-x: auto;
  // margin: 0 auto;
  // background-color: gray;
}

// .center-container
// {
//   display: flex;
//   /* enable flex layout */
//   justify-content: center;
//   /* center horizontally */
//   padding: 24px;
// }

.filter-container
{
  margin-top: 8px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.filter
{

  width: 60%;
  margin-right: 16px;
}

.filter-status
{
  // margin-top: 8px;
  width: 40%;
  // min-width: 300px;
}

.white-background
{
  background-color: white;
}

// buttons wrappers on the table
.example-flex-container
{
  display: flex;
  justify-content: end;
  flex-wrap: wrap;


}

.example-button-container
{
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  padding-right: 16px;


}

// buttons styles in the table
.warn-button
{
  // background-color: rgb(236, 37, 37);

  background-color: white;
  color: #D64545;
  // color: black;
  margin-left: 36px;
}

.success-button
{
  // background-color: rgba(115, 243, 115, 0.563);
  background-color: white;
  color: #7ED1B2;
  // color: black;
}





.request-description-table
{
  font-size: 12px;
}

.table-row
{
  cursor: pointer;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.table-row:active
{
  // box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
  transform: scale(0.998);
}