<!-- Supplies toolbar -->
<mat-toolbar class="nav-bar ">
  <div class="container toolbar-container">

    <a routerLink="/adminuser/home/dashboard" style="cursor: pointer;" matTooltip="Go to Dashboard">
      <img src="/public/LogoSuppliesHeader.svg" alt="logo supplies" class="main-toolbar-logo">
    </a>
    <span class="example-spacer"></span>
    <span style="margin-right: 16px;"></span>


    <button routerLink="/adminuser/home/users" mat-button class="main-toolbar-links" routerLinkActive="active"
      matTooltip="Users">
      <mat-icon>perm_identity</mat-icon>
      <span class="settings-title">Users</span>
    </button>

    <button routerLink="/adminuser/home/designations" mat-button class="main-toolbar-links" routerLinkActive="active"
      matTooltip="Designations">
      <mat-icon>work_outline</mat-icon>
      <span class="settings-title">Designations</span>
    </button>
    <button routerLink="/adminuser/home/admindivs" mat-button class="main-toolbar-links" routerLinkActive="active"
      matTooltip="Admin Divisions">
      <mat-icon>business</mat-icon>
      <span class="settings-title">Admin Divisions</span>
    </button>
    <button routerLink="/adminuser/home/subdivs" mat-button class="main-toolbar-links" routerLinkActive="active"
      matTooltip="Sub-divisions">
      <mat-icon>account_balance</mat-icon>
      <span class="settings-title">Sub-divisions</span>
    </button>
    <!-- <button routerLink="/adminuser/home/vendors" mat-button class="main-toolbar-links"
      routerLinkActive="active" matTooltip="Go to Vendors">
      <mat-icon>category</mat-icon>
      <span class="settings-title">Vendors</span>
    </button> -->


    <span class="example-spacer"></span>


    <button mat-icon-button class="main-toolbar-icon-button" aria-label="Icon button for sign out" matTooltip="Sign out"
      (click)="logout()">
      <mat-icon class="main-toolbar-icon">logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>