//for container
.container
{
  padding: 0 16px;
  margin-top: 8px;
  // background-color: gray;
  // max-width: 1200px;
  width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;

  // @media screen and (max-width: 500px)
  // {
  //   max-width: 90%;
  // }

}

.toolbar-container
{
  display: flex;
  align-items: center;
  width: 100%;
}

mat-toolbar
{
  flex-wrap: wrap;
}

@media (max-width: 768px)
{
  .settings-title
  {
    display: none;
  }
}

// for toolbar
.example-spacer
{
  flex: 1 1 auto;
}

.nav-bar
{
  padding: 0 16px;
  // overflow-x: scroll;
  scrollbar-gutter: stable;
  // width: 100%;
}

//custom color for toolbar icons
.main-toolbar-icon
{
  color: white;

}

// styles for activated router link - main toolbar pages
.active
{
  // background-color: rgba(128, 128, 128, 0.356);
  background-color: rgba(255, 255, 255, 0.11);
}





.example-button-container
{
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.main-toolbar-icon-button:hover
{
  background-color: rgba(255, 255, 255, 0.212);
}

// logo styles
.main-toolbar-logo
{
  margin-right: 4px;
  margin-top: 6px;
}

.main-toolbar-logo:hover
{
  opacity: 0.6;
}


//toolbar links
.main-toolbar-links:hover
{
  background-color: rgba(255, 255, 255, 0.144);
}



.main-toolbar-links
{
  font-size: 16px;
  font-weight: 400;
  margin-right: 4px;
}