// form styles

mat-form-field
{

  width: 100%;
  margin-right: 8px;
  margin-top: 8px;
}

.form-button-container
{
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: start;


}

.form-button
{
  font-size: 16px;
}




.left-checkbox
{
  width: 100%;


}