.view-container
{
  // background-color: rgb(236, 235, 235);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow-x: auto;

  @media (max-width: 1100px)
  {
    flex-direction: column;
  }
}

.left-container
{
  // background-color: pink;
  display: flex;

  @media (max-width: 1100px)
  {
    flex-direction: column;
  }

}

.right-container
{
  // background-color: purple;
  width: 400px;
}

.main-content
{
  margin-top: 16px;
  margin-bottom: 8px;

  .content-row
  {

    .content-label
    {
      font-size: 14px;
      margin-right: 8px;
    }

    .content-description
    {
      font-style: 18px;

    }
  }
}


.other-content
{

  .other-row
  {

    .details-label
    {
      font-size: 12px;
      margin-right: 8px;
    }

    .details-description
    {
      font-size: 13px;
    }
  }
}

.status-card
{
  margin-right: 8px;
}

.example-card
{
  min-width: 600px;
  margin-bottom: 16px;
  margin-right: 16px;
  background-color: #ddf3ea93;
  display: flex;
  flex: 1;

}

.example-card-footer
{
  padding: 16px;
}

.button-row
{
  display: flex;
  justify-content: space-between;

  button
  {
    font-size: 16px;
    margin-left: 16px;
  }

  .delete-button
  {
    color: #D64545;
    margin: 16px;
  }

  .right-button-container
  {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 16px;
  }
}

.procurement-status
{
  background-color: #dcffe4;
  margin: 8px 0;
  font-weight: 400;
}

:host ::ng-deep .mat-step-header
{
  pointer-events: none !important;
}
