<!-- <button mat-icon-button style="align-self: flex-end; margin-top: 4px; margin-right: 4px;"
  mat-dialog-close><mat-icon>close</mat-icon></button> -->

<h4 mat-dialog-title style="margin-bottom: 8px;">Add Procurement File</h4>
<form [formGroup]="addFileForm">
  <mat-dialog-content>

    <p>
      <mat-form-field style="width: 100%;">
        <mat-label>File name</mat-label>
        <input type="text" matInput placeholder="Eg: Bid evaluation document" formControlName="name">
        <mat-icon matSuffix>description</mat-icon>
        <mat-error error *ngIf="addFileForm.get('name')?.hasError('required')">
          File name is required!
        </mat-error>
      </mat-form-field>
    </p>
    <p>

    <div style="display:flex; align-items: center; gap:8px;">
      <mat-icon>attach_file</mat-icon>
      <mat-label>Add PDF Document
        <small>(Less than 5MB)</small>
      </mat-label>
      <input type="file" accept=".pdf" (change)="onFileChange($event)">
    </div>

  </mat-dialog-content>
  <mat-dialog-actions style="margin-top: 16px;">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-flat-button (click)="submitFile()" [disabled]="addFileForm.invalid" cdkFocusInital>Save File</button>
  </mat-dialog-actions>
</form>