<div class="card-grid">
  <button class="settings-button" mat-fab extended routerLink="/adminuser/home/dashboard/users/list"
    appearance="outlined" [routerLinkActive]="'active'">
    <mat-icon>groups</mat-icon>
    <span class="settings-title">Existing Users</span>
  </button>
  <button class="settings-button" mat-fab extended routerLink="/adminuser/home/dashboard/users/form"
    appearance="outlined" [routerLinkActive]="'active'">
    <mat-icon>person_add</mat-icon>
    <span class="settings-title">Add New</span>
  </button>
</div>
<router-outlet></router-outlet>




<!-- Tab for settings page -->
<!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">groups</mat-icon>
      Existing Users
    </ng-template>
 >
    <app-user-list></app-user-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person_add</mat-icon>
      Create New User
    </ng-template>

    <app-user-form></app-user-form>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">how_to_reg</mat-icon>
      <a disable>Sign Up Requests</a>

    <app-user-requests></app-user-requests>
  </mat-tab>

</mat-tab-group> -->