<mat-card appearance="outlined">

  <form [formGroup]="procurementForm" (ngSubmit)="submitProcurement()">

    <mat-card-content>

      <mat-grid-list cols="4" rowHeight="100px">

        <mat-grid-tile [colspan]="2">
          <mat-form-field appearance="outline">
            <mat-label>Name of Procurement</mat-label>
            <input matInput type="text" formControlName="name" required="">
            <!-- error message -->
            <mat-error error *ngIf="procurementForm.get('name')?.hasError('required')">
              Required field!
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2">
          <mat-form-field appearance="outline">
            <mat-label>Select Request</mat-label>
            <mat-select formControlName="requestId" name="requestId" required>

              <!-- <mat-select-trigger>
                <mat-chip-set>
                  <ng-container *ngFor="let id of procurementForm.get('requestId')?.value">
                    <mat-chip removable="true" (removed)="removeRequest(id)" *ngIf="getRequestById(id)">
                      {{getRequestById(id)?.title}}
                      <small *ngFor="let subdivCode of getRequestById(id)?.subdivCodeList"> | ({{subdivCode}}) |</small>
                      <small> (Q:{{getRequestById(id)?.quantity}}) |</small>
                      <small> (Est:{{getRequestById(id)?.estimation| number}}) |</small>
                      <small *ngIf="getRequestById(id)?.fund"> (Fund:{{getRequestById(id)?.fund}}) |</small>
                      <button matChipRemove><mat-icon>close</mat-icon></button>

                    </mat-chip>
                  </ng-container>
                </mat-chip-set>
              </mat-select-trigger> -->

              <!-- select all option -->
              <!-- <mat-option (onSelectionChange)="toggleSelectAll()" [value]="0">
                {{allSelected ? 'Deselect All' : 'Select All'}}
              </mat-option> -->

              <mat-option *ngFor="let request of approvedRequestsList" [value]="request.id">
                {{request.id}} . {{request.title}}
                <small> ( Q:{{request.quantity}} - Est.{{request.estimation |number}}) </small>
                <small *ngFor="let subdivCode of request.subdivCodeList"> | ({{subdivCode}}) |</small>
              </mat-option>


            </mat-select>
            <mat-error error *ngIf="procurementForm.get('requestId')?.hasError('required')">
              Requests is required!
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" formControlName="quantity" required>
            <mat-error error *ngIf="procurementForm.get('quantity')?.hasError('required')">
              Required field!
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>



        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Estimated Amount</mat-label>
            <input matInput type="number" formControlName="estimatedAmount" required="">
            <!-- error message -->
            <mat-error error *ngIf="procurementForm.get('estimatedAmount')?.hasError('required')">
              Required field!
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2">
          <mat-form-field appearance="outline">
            <mat-label>Source of Financing</mat-label>
            <mat-select formControlName="sourceId" name="sourceId" required>
              <mat-option *ngFor="let source of sourcesList" [value]="source.id">{{source.name}}</mat-option>
            </mat-select>
            <mat-error error *ngIf="procurementForm.get('sourceId')?.hasError('required')">
              Source is required!
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Level of Authority</mat-label>
            <mat-select formControlName="authorityLevel" name="authorityLevel" required>
              <mat-option value="DPC">DPC</mat-option>
              <mat-option value="SC">SC</mat-option>
            </mat-select>
            <mat-error error *ngIf="procurementForm.get('authorityLevel')?.hasError('required')">
              Level of authority is required!
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" name="category" required>
              <mat-option value="G">Goods</mat-option>
              <mat-option value="S">Services</mat-option>
              <mat-option value="W">Works</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
            <mat-error error *ngIf="procurementForm.get('category')?.hasError('required')">
              Category is required!
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>



        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Method</mat-label>
            <mat-select formControlName="method" name="method" required>
              <mat-option value="ICB">ICB</mat-option>
              <mat-option value="LIB">LIB</mat-option>
              <mat-option value="NS">National Shopping</mat-option>
            </mat-select>
            <mat-error error *ngIf="procurementForm.get('method')?.hasError('required')">
              Method is required!
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>



        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Priority Status</mat-label>
            <mat-select formControlName="priorityStatus" name="priorityStatus" required>
              <mat-option value="U">Urgent</mat-option>
              <mat-option value="P">Priority</mat-option>
              <mat-option value="N">Normal</mat-option>
            </mat-select>
            <mat-error error *ngIf="procurementForm.get('priorityStatus')?.hasError('required')">
              Priority status is required!
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>



        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Scheduled Commence Date</mat-label>
            <!-- date type input  -->
            <input matInput [matDatepicker]="commenceDatePicker" formControlName="scheduledCommenceDate">
            <mat-datepicker-toggle matSuffix [for]="commenceDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #commenceDatePicker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Expected Completion Date</mat-label>
            <!-- date type input  -->
            <input matInput [matDatepicker]="datePicker" formControlName="expectedCompletionDate">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Vendor</mat-label>
            <mat-select formControlName="vendorId" name="vendorId">
              <mat-option *ngFor="let vendor of vendorsList" [value]="vendor.id">
                {{vendor.name}} <small> (Reg: {{vendor.registeredDate |date: 'yyyy-mm-d'}})</small></mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Assigned to</mat-label>
            <mat-select formControlName="assignedToUserId" name="assignedToUserId" required>
              <mat-option *ngFor="let user of usersList" [value]="user.id">{{user.designationCode}} | {{user.name}} |
                {{user.email}}</mat-option>
            </mat-select>
            <mat-error error *ngIf="procurementForm.get('assignedToUserId')?.hasError('required')">
              Assigned to is required!
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>



        <mat-grid-tile [colspan]="2">
          <mat-form-field appearance="outline">
            <mat-label>Remarks</mat-label>
            <textarea matInput formControlName="remarks"></textarea>

          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="3">
          <div style="text-align: left;  width: 100%; display: flex; justify-content: start">
            <button type="reset" class="form-button" mat-stroked-button style="margin-right: 16px;">Reset</button>
            <button type="submit" mat-flat-button class="form-button" color="primary"
              [disabled]="procurementForm.invalid">Create Procurement</button>
          </div>
        </mat-grid-tile>



      </mat-grid-list>


    </mat-card-content>

  </form>
</mat-card>