/* Main container centers everything */
.card-container
{
  display: flex;
  justify-content: center;
  margin-top: 24px;
  padding: 0 8px;
  // align-items: flex-start;

}



@media (max-width: 1100px)
{
  .request-details
  {
    width: 100%;
    /* stack vertically */
  }

  .request-list
  {
    flex-direction: column;
  }
}

/* wrapper */
.request-list
{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: flex-start;

}

/* card responsive sizing */
.request-card
{
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  /* prevents card from being too wide */
  padding: 16px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 82, 37, 0.322);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  background-color: rgba(20, 120, 67, 0.089);
  margin-bottom: 24px;
}

.request-details
{
  min-width: 300px;

}

/* optional styling */
.request-name
{
  margin-bottom: 8px;
  font-weight: 500;
  color: rgb(11, 61, 34);
}

.request-description
{
  margin-bottom: 16px;
  color: #555;
}

.request-info
{
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.info-row
{
  display: flex;
  width: 100%;
  // justify-content: start;
  margin-bottom: 8px;
}

.info-label
{
  font-weight: 500;
}

.info-value
{
  margin-left: 12px;
  color: #444;
}

.approved-icon
{
  color: rgb(20, 120, 67);
  padding-right: 28px;
  padding-top: 4px;
}

.approved-title
{
  padding-right: 4px;
  font-variant: small-caps;
  color: rgb(20, 120, 67);
}

.reject-icon
{
  color: rgb(95, 3, 3);
  padding-right: 32px;
  padding-top: 3.5px;
}

.rejected-title
{
  padding-right: 4px;
  color: rgb(95, 3, 3);
  font-family: Tahoma;
}

.created-details
{
  font-size: 14px;
}


.created-details-label
{
  font-weight: 200;
  font-size: 12px;
}

.created-details-value-user
{
  padding-top: 4px;
}

@media (max-width: 600px)
{
  .request-details
  {
    width: 100%;
    /* stack vertically */
  }

  .request-list
  {
    flex-direction: column;
  }
}


.reject-card
{
  background-color: white;
  border: 2px solid rgb(158, 5, 5);

}

.reject-title
{
  color: black;
}

.reject-content
{
  color: rgb(95, 3, 3);
}

.approval-card
{
  background-color: white;
  border: 2px solid rgb(20, 120, 67);
}

.approval-content
{
  color: rgb(20, 120, 67);
}




//update delete buttons

// buttons styles in the table
.warn-button
{
  // background-color: rgb(236, 37, 37);

  background-color: white;
  color: #D64545;
  // color: black;
  margin-left: 36px;
}

.success-button
{
  // background-color: rgba(115, 243, 115, 0.563);
  background-color: white;
  color: #7ED1B2;
  // color: black;
}

.button-row
{
  display: flex;
  // padding-top: 8px;
  // padding-right: 8px;
  width: 100%;
  justify-content: flex-end;
  margin-top: 8px;

}

.decline-button
{
  color: #D64545;
  margin-left: 16px;
}