<div class="card-grid">
  <button class="settings-button" mat-fab extended routerLink="/adminuser/home/dashboard/designations/list"
    appearance="outlined" [routerLinkActive]="'active'">
    <mat-icon>card_travel</mat-icon>
    <span class="settings-title">Designations</span>
  </button>
  <button class="settings-button" mat-fab extended routerLink="/adminuser/home/dashboard/designations/form"
    appearance="outlined" [routerLinkActive]="'active'">
    <mat-icon>add_2</mat-icon>
    <span class="settings-title">Add New</span>
  </button>
</div>
<router-outlet></router-outlet>