<div class="card-grid">
  <button class="settings-button" mat-fab extended routerLink="/adminuser/home/dashboard/admindivs/list"
    appearance="outlined" [routerLinkActive]="'active'">
    <mat-icon>business</mat-icon>
    <span class="settings-title">Admin Divisions</span>
  </button>
  <button class="settings-button" mat-fab extended routerLink="/adminuser/home/dashboard/admindivs/form"
    appearance="outlined" [routerLinkActive]="'active'">
    <mat-icon>add_2</mat-icon>
    <span class="settings-title">Add New</span>
  </button>
</div>
<router-outlet></router-outlet>