<div class="center-container">
  <div class="table-container">


    <!-- filter for the table data -->
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Type a keyword to search.." #input>
    </mat-form-field>


    <!-- table -->
    <div class="mat-elevation-z5">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="admindivName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin division</th>
          <td mat-cell *matCellDef="let element"> {{element.admindivName}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub-divison Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="telephone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone </th>
          <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element;let i = index">

            <div class="example-flex-container">
              <div class="example-button-container">

                <a>
                  <button mat-mini-fab class="success-button" routerLink="/adminuser/home/subdivs/update/
                  {{element.id}}">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                  </button>
                </a>
                <a>
                  <button mat-mini-fab class="warn-button" (click)="deleteSubdiv(element.id)">
                    <mat-icon matTooltip="Delete">delete</mat-icon>
                  </button>
                </a>

              </div>
            </div>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator class="white-background" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
        aria-label="Select page of admin divisions">
      </mat-paginator>
    </div>
  </div>
</div>