<div class="card-grid">
  <button class="settings-button" mat-fab extended routerLink="/admindivuser/home/procurement/list"
    appearance="outlined" [routerLinkActive]="'active'">
    <mat-icon>data_thresholding</mat-icon>
    <span class="settings-title">Procurement</span>
  </button>

  <button class="settings-button" mat-fab extended routerLink="/admindivuser/home/procurement/report"
    appearance="outlined" [routerLinkActive]="'active'">
    <mat-icon>article</mat-icon>
    <span class="settings-title">Progress Report</span>
  </button>

</div>


<router-outlet></router-outlet>