// styles for settings grid layout for navigation buttons

.card-grid
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
}


mat-icon
{
  font-size: 32px;
  height: 32px;
  width: 32px;
}

.settings-button
{
  // background-color: rgba(115, 243, 115, 0.199);
  background-color: rgb(239, 248, 238);
  // background-color: rgb(218, 245, 221);

  max-width: 180px;
  max-height: 40px;
  margin-bottom: 4px;
}


.settings-title
{
  font-size: 14px;

}

// styles for activated router link - settings pages
.active
{
  background-color: rgb(90, 240, 138);
}

// styles for settings pages
//add this to individual style files of children components of the settings page

.page-toolbar
{
  background-color: rgba(206, 213, 203);
  height: 40px;
  color: black;
  font-size: 16px;
}