<!-- <button mat-icon-button style="align-self: flex-end; margin-top: 4px; margin-right: 4px;"
  mat-dialog-close><mat-icon>close</mat-icon></button> -->

<h4 mat-dialog-title>Confirm deletion</h4>
<mat-dialog-content>
  @if(data.entity === 'procurement'){
  Are you sure you want to delete procurement?
  }
  @if(data.entity === 'request'){
  Are you sure you want to delete request?
  }
  @if(data.entity === 'document'){
  Are you sure you want to delete document?
  }

  <!-- <p>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input type="text" matInput placeholder="Username">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="text" matInput placeholder="Password">
      <mat-icon matSuffix>key</mat-icon>
    </mat-form-field>
  </p> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>No</button>
  <button mat-flat-button [mat-dialog-close]="true" cdkFocusInital style="background-color: #D64545;;">Yes</button>
</mat-dialog-actions>