// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html
{
  @include mat.theme((color: (theme-type: light,
        primary: mat.$spring-green-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */

html,
body
{
  height: 100%;
  margin: 0;
  // overflow-y: scroll;
  // scrollbar-gutter: stable;
}

*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// custom color for toolbar - for whole application
:root
{
  @include mat.toolbar-overrides((container-background-color: rgb(20, 120, 67),
      container-text-color:white, ));
}


// styles for activated router link - settings pages - included in settings styles file
.active
{
  font-weight: 700;
  background-color: gray;
}

// global styles for Mat Snackbar
.snackbar-error
{
  // --mdc-snackbar-container-color: #ef1d12;
  @include mat.snack-bar-overrides((button-color: white,
      container-color: #cf1208,
    ));
}

.snackbar-success
{
  // --mdc-snackbar-container-color: #ef1d12;
  @include mat.snack-bar-overrides((button-color: white,
      container-color: #14581f,
    ));
}

.snackbar-info
{
  // --mdc-snackbar-container-color: #ef1d12;
  @include mat.snack-bar-overrides((button-color: white,
      container-color: #142c58,
    ));
}


// buttons styles in the table
// for list's delete and update buttons -- has to add to styles file of the list components
.warn-button
{
  // background-color: rgb(236, 37, 37);

  background-color: white;
  color: #D64545;
  // color: black;
  margin-left: 36px;
}

.success-button
{
  // background-color: rgba(115, 243, 115, 0.563);
  background-color: white;
  color: #7ED1B2;
  // color: black;
}


// table row hover effect for mat-table
/* Global hover effect for all Angular Material tables */
.mat-mdc-row:hover
{
  // background-color: #52e38004;
  // background-color: white;
  background-color: #DBEADD;
  transition: background-color 0.2s ease-in-out;
  /* light teal */
}

.mat-mdc-table
{
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}


.mat-mdc-header-row
{
  background-color: #f8fafc;
}

.mat-mdc-header-cell
{
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #475569;
}

// styles for activated router link - has to add to  home pages with nav-bar
.active
{
  // background-color: rgba(128, 128, 128, 0.356);
  // background-color: rgba(255, 255, 255, 0.11);
}


//for containers in home pages - for router outlet
//for container
.container
{
  padding: 0 16px;
  margin-top: 8px;
  width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
}