<div class="centered-form">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="form-title">
        <mat-icon>lock</mat-icon>
        Change User Password</mat-card-title>
    </mat-card-header>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="submitForm()">
      <mat-card-content>
        <div class="form-content">

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Current Password</mat-label>
            <input matInput [type]="hideCurrentPassword? 'password':'text'" formControlName="currentPassword">
            <button class='visibility-button' type="button" mat-icon-button matSuffix
              (click)="toggleCurrentPasswordVisibility()">
              <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error error *ngIf="updatePasswordForm.get('currentPassword')?.hasError('required')">
              Required field!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hidePassword? 'password':'text'" formControlName="password">
            <button class='visibility-button' type="button" mat-icon-button matSuffix
              (click)="togglePasswordVisibility()">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error error *ngIf="updatePasswordForm.get('password')?.hasError('required')">
              Required field!
            </mat-error>
            <mat-error error *ngIf="updatePasswordForm.get('password')?.hasError('minlength')">
              Password must be at least 8 characters.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hideConfirmPassword? 'password':'text'" formControlName="confirmPassword">
            <button class='visibility-button' type="button" mat-icon-button matSuffix
              (click)="toggleConfirmPasswordVisibility()">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error error *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required')">
              Required field!
            </mat-error>
          </mat-form-field>







        </div>

      </mat-card-content>
      <mat-card-footer class="example-card-footer">
        <div class="button-row">

          <div class="right-button-container">
            <button mat-stroked-button matTooltip="Reset Form" type="reset">
              Reset
            </button>
            <button type="submit" mat-flat-button class="form-button" color="primary"
              [disabled]="updatePasswordForm.invalid || updatePasswordForm.pristine">Update</button>
          </div>
        </div>
      </mat-card-footer>
    </form>
  </mat-card>
</div>