//table
table
{
  width: 100%;
  padding: 4px 0;
  border-radius: 12px;
  // background-color: white;
}

.table-container
{
  // max-width: 1200px;
  width: 100%;
  // margin: 0 auto;
  // background-color: gray;
}

// .center-container
// {
//   display: flex;
//   /* enable flex layout */
//   justify-content: center;
//   /* center horizontally */
//   padding: 24px;
// }

.filter
{
  margin-top: 4px;
  width: 100%;
}

.white-background
{
  background-color: white;
}

// buttons wrappers on the table
.example-flex-container
{
  display: flex;
  justify-content: end;
  flex-wrap: wrap;


}

.example-button-container
{
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  padding-right: 16px;


}

// buttons styles in the table
.warn-button
{
  // background-color: rgb(236, 37, 37);
  background-color: #D64545;
  color: black;
  margin-left: 36px;
}

.success-button
{
  // background-color: rgba(115, 243, 115, 0.563);
  background-color: #7ED1B2;

  color: black;
}