<div class="card-grid">
  <button class="settings-button" mat-fab extended routerLink="/adminuser/home/dashboard/subdivs/list"
    appearance="outlined" [routerLinkActive]="'active'">
    <mat-icon>holiday_village</mat-icon>
    <span class="settings-title">Sub-divisions</span>
  </button>
  <button class="settings-button" mat-fab extended routerLink="/adminuser/home/dashboard/subdivs/form"
    appearance="outlined" [routerLinkActive]="'active'">
    <mat-icon>add_2</mat-icon>
    <span class="settings-title">Add New</span>
  </button>
</div>
<router-outlet></router-outlet>



<!-- Tab for settings page -->
<!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">holiday_village</mat-icon>
      Sub-divisions List
    </ng-template>
    <app-subdiv-list></app-subdiv-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">add_business</mat-icon>
      Add New Sub-division
    </ng-template>
    <app-subdiv-form></app-subdiv-form>
  </mat-tab>

</mat-tab-group> -->